
//<--0-->// Default Color //<--0-->//

:root {
    --body: #ffffff;
    --white: #ffffff;
    --title: #032B52;
    --titletwo: #748AA0;
    --mtitle: #000D27;
    --pra: #748AA0;
    --subtitle: #F3CB5F;
    --base: #0236A6;
    --header: #021338;
    --bg1: #E9F0FF;
    --ftext: #818181;
    --footer: #181818;
    --border1: #414141;
    --ratting: #FF8000;
    --bgsection: #000D27;
    --success: #3FCA90;
    --danger: #ED5050;
    --boxes1: rgba(26, 77, 190, 0.05);
    --cborder: #D9D9D9;
}

$optionDefaultColours: #FF8000;

//<--0-->// Default Color //<--0-->//